<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>347362019233-r71ppjkmfmv31fgsc2c3r4a56rjrc6t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347362019233-r71ppjkmfmv31fgsc2c3r4a56rjrc6t1</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ6oufjqsRiXkpdlA9w8meMC9I69peXG8</string>
	<key>GCM_SENDER_ID</key>
	<string>347362019233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proximus</string>
	<key>PROJECT_ID</key>
	<string>proximus-d4323</string>
	<key>STORAGE_BUCKET</key>
	<string>proximus-d4323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347362019233:ios:0ffb136536c1ced9</string>
	<key>DATABASE_URL</key>
	<string>https://proximus-d4323.firebaseio.com</string>
	
</dict>
</plist>